* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    
    width: 100%;
    margin: 0 auto;
    font-family: 'Cedarville Cursive', cursive;

}

.grid{
display: grid;
background-color: white;
grid-template-areas: "head head"
"nav main";
grid-template-columns: 10%  90%;
grid-template-rows: 10% 85%;
width: 100%;


}

/* 

Important code
  .container img {
    max-width: 100%;
    height: auto;
    display: bloc
*/
header{
    /*grid-column: 1 /4;
    grid-row: 1/3;*/
 background-color: #89cff0;
 height: 100%;
 z-index: 1;
 grid-area: head;
}

main{
    display: grid;
    margin: .1em;
    grid-area: main;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    width: 100%;
    z-index: 2;

    


}


h1{
    text-align:center;
    font-size: 3em;
}

nav{
    grid-area: nav;
}

li{
    text-align: center;
    list-style-type: none;
    font-size:1em;
    padding: 1em; 
    position: relative;
    display: block;
    background-color: purple;
    margin: .1em .1em .1em .1em;

}

img{
    width: 70%;
    border: solid black 1px;
    margin: 0 auto;
    
}
a{
    text-decoration: none;
}

a:visited{
    color: black;
}


/* CSS for About Me Page*/

.frame{
    margin: 0 auto;
    width: 50%;
}

.story{
    margin: 0 auto;
    width: 50%;
    background: green;
    font-family: 'Merriweather', serif;
    font-family: 'Ubuntu', sans-serif;
    line-height: 2em;
    margin-top: 5%;
    background-color: transparent;
}

.story img {
    border-radius: 50%;
    display:block;
    margin:auto;
}

.story h1{
    margin: 1em;
}


